/* FONTS */
@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-ExtraLight.woff2') format('woff2'),
  url('fonts/Manrope-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-ExtraBold.woff2') format('woff2'),
  url('fonts/Manrope-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Bold.woff2') format('woff2'),
  url('fonts/Manrope-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Light.woff2') format('woff2'),
  url('fonts/Manrope-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Medium.woff2') format('woff2'),
  url('fonts/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-SemiBold.woff2') format('woff2'),
  url('fonts/Manrope-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Regular.woff2') format('woff2'),
  url('fonts/Manrope-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.heading-extra-large{
  @include set-font-parameters($monrope);
  font-weight: 600;
  line-height: 79px;
}

.heading-large{
  @include set-font-parameters($monrope);
  font-size: 48px;
  line-height: 65px;
}

.heading-medium{
  @include set-font-parameters($monrope);
  line-height: 49px;
  font-size: 36px;
}

.heading-small{
  @include set-font-parameters($monrope);
  font-size: 26px;
  line-height: 35px;
}

.content-large{
  @include set-font-parameters($monrope);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.content-medium{
  @include set-font-parameters($monrope);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.content-small{
  @include set-font-parameters($monrope);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
