@use "colors";


@mixin set-font-parameters{
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #000;
}

@mixin set-navbar-fonts{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
}

