@mixin set-font-parameters{
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #000;
}

@mixin set-navbar-fonts{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
}

.btn{
  display: inline-block;
  color: #000;
  padding: 18px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 8px;
  outline: none;
  transition: all 0.2s ease-in;
}