@import "navbar";
@import "utilities";
@import "typography";
@import "container";
@import "colors";
@import "header";
@import "choose-section";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Monrope", sans-serif;
}

.using-software-title{
  width: 621px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* SOFTWARE SECTION */
.software-section__bg {
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-bottom: 20px;

}


.software-section {
  padding: 100px 50px;
  position: relative;
  height: 500px;
}

.software__img{
  position: absolute;
  top: 100px;
  left: 670px;
}

.softwere-section__title {
  max-width: 433px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.softwere-section__text {
  max-width: 459px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.btn-blue {
  background-color: #345FF6;
  color: #fff;
}

.btn-blue:hover{
  background-color: #AFFF2C;
  color: #000;
}

/* SHET SECTION */
.shet-wrapper {
  padding: 0;
  padding-left: 122px;
  padding-right: 100px;
  margin: 0;
  margin-top: 220px;
  position: relative;

  .shet{
    margin-bottom: 220px;

    &__img {
      width: 450px;
      height: 270px;
      position: absolute;
      object-fit: cover;
    }

    &__img-top{
      top: 0;
      left: 50;
    }

    &__img-bottom{
      position: absolute;
      top: 248px;
      left: 337px;
      margin-right: 73px;
    }

    &__content {
      position: absolute;
      max-width: 460px;
      top: 129px;
      right: 50px;
    }
  }

}