@import "navbar";
@import "utilities";
@import "typography";
@import "container";
@import "colors";


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope" sans-serif;
}

.root {
}
.container {
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar__logo-link {
}
.navbar__logo {
}
.navbar__site-order {
}
.navbar__contact {
}
.navbar__login {
}