@import "navbar";
@import "utilities";
@import "typography";
@import "container";
@import "colors";
@import "header";
@import "choose-section";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Monrope", sans-serif;
}
